<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="aiAppender" class="com.microsoft.applicationinsights.logback.ApplicationInsightsAppender">
        <instrumentationKey>563db4f2-0127-4e94-828c-4b18309cfa79</instrumentationKey>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="aiAppender" />
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
